<label for="comment-body">Комментарии:</label>
<ul>
    <li th:each="comment : ${comments}">
        <div class="left">
            <div class="form-group">
                    <textarea type="text" class="form-control" id="comment-body" placeholder="comment"
                              th:text="${comment.content}"></textarea>
            </div>
            <div>

                <button th:attr="commentId=${comment.getId}" onclick="deleteComment(this.attributes.commentid.value)"
                        class="comment-delete">Удалить
                </button>
                <button type="submit" id="comment-add">Ответить</button>

            </div>
            <script>
                function deleteComment(id){
                var http = new XMLHttpRequest();
                http.open("POST", "/comments/delete/" + id, true);

             http.send();

             http.onload = function() {
                loadComments();

            }


                };

            </script>
            <ul th:fragment="showComment(comment)" th:unless="${#lists.isEmpty(comment.answers)}">
                <li th:each="child : ${comment.answers}" th:inline="text">
                    <div class="left" th:fragment="showComment(comment)">
                        <div class="form-group">
                                <textarea type="text" class="form-control" id="comment-body" placeholder="comment"
                                          th:text="${child.content}"></textarea>
                        </div>
                        <div>
                            <button type="submit" id="comment-delete">Удалить</button>
                            <button type="submit" id="comment-add">Ответить</button>
                        </div>
                        <ul th:replace="this::showComment(${child})"></ul>
                </li>
            </ul>

        </div>
    </li>
</ul>