<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="col-lg-12">
            <h2 class="text-center">
                Добавить коментарий
            </h2>
        </div>
        <div id="addComment">
        </div>
    </div>
    <div id="commentSection" >
    </div>
    <script>
           function loadAddComment() {
                $('#addComment').load("/comments/new")
           }
           function loadComments(){
                $('#commentSection').load("/comments")
            }
            $(document).ready(function () {
                loadAddComment();
                loadComments();
            })
        </script>

</div>
</body>
</html>